name: Sample Project
applications:
  - name: Google Chrome
  - name: Sublime Text
    command: sublime --project ~/path/to/project
terminal:
  tabs:
    - name: Window with one pane
      panes:
        - directory: ~/first/path
    - name: Window with three panes
      panes:
        - directory: ~/full/height/half/width
        - directory: ~/half/height/half/width
          split: horizontal
        - directory: ~/half/height/half/width
          split: vertical
