[user]
  name = Justin Locsei
  email = justin.locsei@gmail.com
[push]
  default = simple
[branch]
  autosetuprebase = always
[pull]
  rebase = true
[core]
  pager =
[merge]
  log = 50
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
